#calendar {
    text-align: center;
}

#calendar tr td /*, #calendar tr:not(:first-child) th */ {
    width: 100px;
    height: 100px;
    font-weight: bolder;
    background-color: gray;
    position: relative;
}

#calendar tr td.inactive-month {
    color: #f00;
}

#calendar tr td.active-month {
    color: #0f0;
}

.calendar-date {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;
    border-bottom: 4px solid #000;
    border-right: 4px solid #000;
}